<div id="<%= dom_id question %>">
  <p>
    <strong>Category:</strong>
    <%= question.category&.name || "Unassigned" %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Question order:</strong>
    <%= question.question_order %>
  </p>

  <% if question.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= simple_format(question.description) %>
    </p>
  <% end %>

  <% if question.tooltip_text.present? %>
    <p>
      <strong>Tooltip text:</strong>
      <%= simple_format(question.tooltip_text) %>
    </p>
  <% end %>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Answer options:</strong>
    <%= question.answer_options %>
  </p>

</div>
