<div id="<%= dom_id question %>">
  <p>
    <strong>Category:</strong>
    <%= question.category&.name || "Unassigned" %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Question order:</strong>
    <%= question.question_order %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Answer options:</strong>
    <%= question.answer_options %>
  </p>

</div>
