<div id="<%= dom_id question %>">
  <p>
    <strong>Question:</strong>
    <%= question.question_id %>
  </p>

  <p>
    <strong>Competency:</strong>
    <%= question.competency_id %>
  </p>

  <p>
    <strong>Question order:</strong>
    <%= question.question_order %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

</div>
