<div id="<%= dom_id admin %>">
  <p>
    <strong>Full name:</strong>
    <%= admin.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>UID:</strong>
    <%= admin.uid %>
  </p>

  <p>
    <strong>Avatar URL:</strong>
    <%= admin.avatar_url %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= admin.role %>
  </p>
</div>
