<% if flash.any? %>
  <% flash.each do |key, value| %>
    <p style="color: green" id="flash_<%= key %>"><%= value %></p>
  <% end %>
<% end %>

<%= render @admin %>

<div>
  <%= link_to "Edit this admin", edit_admin_path(@admin) %> |
  <%= link_to "Back to admins", admins_path %>

  <%= button_to "Destroy this admin", @admin, method: :delete %>
</div>
