<%= form_with(model: competency_response, local: true) do |form| %>
  <% if competency_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(competency_response.errors.count, "error") %> prohibited this competency_response from being saved:</h2>

      <ul>
        <% competency_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :competencyresponse_id, style: "display: block" %>
    <%= form.number_field :competencyresponse_id %>
  </div>

  <div>
    <%= form.label :surveyresponse_id, style: "display: block" %>
    <%= form.number_field :surveyresponse_id %>
  </div>

  <div>
    <%= form.label :competency_id, style: "display: block" %>
    <%= form.number_field :competency_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
