<div id="<%= dom_id student %>">
  <p>
    <strong>Student:</strong>
    <%= student.student_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Netid:</strong>
    <%= student.net_id %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= student.track %>
  </p>

  <p>
    <strong>Advisor:</strong>
    <%= student.advisor_id %>
  </p>

</div>
