<div id="<%= dom_id competency %>">
  <p>
    <strong>Competency:</strong>
    <%= competency.competency_id %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= competency.survey_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= competency.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= competency.description %>
  </p>

</div>
