<div id="<%= dom_id survey %>">
  <p>
    <strong>Survey:</strong>
    <%= survey.survey_id %>
  </p>

  <p>
    <strong>Assigned date:</strong>
    <%= survey.assigned_date %>
  </p>

  <p>
    <strong>Completion date:</strong>
    <%= survey.completion_date %>
  </p>

  <p>
    <strong>Approval date:</strong>
    <%= survey.approval_date %>
  </p>

</div>
