<div id="<%= dom_id feedback %>">
  <p>
  <strong>Student:</strong>
  <%= feedback.student&.full_name || feedback.student_id %>
  </p>

  <p>
    <strong>Advisor:</strong>
    <%= feedback.advisor&.display_name || feedback.advisor_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= feedback.category&.name || feedback.category_id %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= feedback.survey&.title || feedback.survey_id %>
  </p>

  <p>
    <strong>Average score:</strong>
    <%= feedback.average_score %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= feedback.comments %>
  </p>

</div>
