<div id="<%= dom_id feedback %>">
  <p>
    <strong>Feedback:</strong>
    <%= feedback.feedback_id %>
  </p>

  <p>
    <strong>Advisor:</strong>
    <%= feedback.advisor_id %>
  </p>

  <p>
    <strong>Competency:</strong>
    <%= feedback.competency_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= feedback.comments %>
  </p>

</div>
