<div id="<%= dom_id feedback %>">
  <p>
    <strong>Advisor:</strong>
    <%= feedback.advisor&.user&.name || "Advisor ##{feedback.advisor_id}" %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= feedback.category&.name || feedback.category_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= feedback.average_score %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= feedback.survey&.title || "Survey ##{feedback.survey_id}" %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= feedback.comments %>
  </p>

</div>
