<%= form_with(model: survey_response, local: true) do |form| %>
  <% if survey_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>

      <ul>
        <% survey_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.number_field :student_id %>
  </div>

  <div>
    <%= form.label :advisor_id, style: "display: block" %>
    <%= form.number_field :advisor_id %>
  </div>

  <div>
    <%= form.label :survey_id, style: "display: block" %>
    <%= form.number_field :survey_id %>
  </div>

  <div>
    <%= form.label :completion_date, style: "display: block" %>
    <%= form.date_field :completion_date %>
  </div>

  <div>
    <%= form.label :approval_date, style: "display: block" %>
    <%= form.date_field :approval_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, SurveyResponse.statuses.values.map { |value| [value, value] }, include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
