<div id="<%= dom_id survey_response %>">
  <p>
    <strong>Surveyresponse:</strong>
    <%= survey_response.surveyresponse_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= survey_response.student_id %>
  </p>

  <p>
    <strong>Advisor:</strong>
    <%= survey_response.advisor_id %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= survey_response.survey_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= survey_response.status %>
  </p>

</div>
