<p style="color: green"><%= notice %></p>

<%= render @advisor %>

<div>
  <%= link_to "Edit this advisor", edit_advisor_path(@advisor) %> |
  <%= link_to "Back to advisors", advisors_path %>

  <%= button_to "Destroy this advisor", @advisor, method: :delete %>
</div>
