<div id="<%= dom_id question_response %>">
  <p>
    <strong>Student:</strong>
    <%= question_response.student&.full_name || question_response.student_id %>
  </p>

  <p>
    <strong>Advisor:</strong>
    <%= question_response.advisor&.display_name || question_response.advisor_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question_response.question&.question_text || question_response.question_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question_response.answer %>
  </p>

</div>
