<div id="<%= dom_id question_response %>">
  <p>
    <strong>Questionresponse:</strong>
    <%= question_response.questionresponse_id %>
  </p>

  <p>
    <strong>Competencyresponse:</strong>
    <%= question_response.competencyresponse_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question_response.question_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question_response.answer %>
  </p>

</div>
