<div id="<%= dom_id evidence_upload %>">
  <p>
    <strong>Evidenceupload:</strong>
    <%= evidence_upload.evidenceupload_id %>
  </p>

  <p>
    <strong>Questionresponse:</strong>
    <%= evidence_upload.questionresponse_id %>
  </p>

  <p>
    <strong>Competencyresponse:</strong>
    <%= evidence_upload.competencyresponse_id %>
  </p>

  <p>
    <strong>File type:</strong>
    <%= evidence_upload.file_type %>
  </p>

</div>
