<%= form_with(model: evidence_upload, local: true, html: { multipart: true }) do |form| %>
  <% if evidence_upload.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(evidence_upload.errors.count, "error") %> prohibited this evidence_upload from being saved:</h2>

      <ul>
        <% evidence_upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :evidenceupload_id, style: "display: block" %>
    <%= form.number_field :evidenceupload_id %>
  </div>

  <div>
    <%= form.label :questionresponse_id, style: "display: block" %>
    <%= form.number_field :questionresponse_id %>
  </div>

  <div>
    <%= form.label :competencyresponse_id, style: "display: block" %>
    <%= form.number_field :competencyresponse_id %>
  </div>

  <div>
    <%= form.label :file_type, style: "display: block" %>
    <%= form.text_field :file_type %>
  </div>

  <div>
    <%= form.label :data, "Upload file", style: "display: block" %>
    <%= form.file_field :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
