<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(category.errors.count, "error") %> prevented this category from saving:</h2>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :survey_id %>
    <%= form.collection_select :survey_id, Survey.order(:title), :id, :title, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
