<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Health App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <%= favicon_link_tag "tamu-logo.png", rel: "icon", type: "image/png" %>
  <%= favicon_link_tag "tamu-logo.png", rel: "apple-touch-icon", type: "image/png" %>

    <%# Includes all stylesheet files consolidated in application.css %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% messages = Array(value).map(&:to_s) %>
        <section class="flash flash__<%= key %>"><%= safe_join(messages.map(&:html_safe), tag.br) %></section>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <% case current_user.role %>
      <% when "student" %>
        <%= render "shared/student_navbar" %>
      <% when "advisor" %>
        <%= render "shared/advisor_navbar" %>
      <% when "admin" %>
        <%= render "shared/admin_navbar" %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
